<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.ucla.nesl.sigma"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="17"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application android:label="Sigma">


        <activity android:name=".samples.TestSuiteActivity" android:label="BinderSigma">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".samples.pingpong.PingPongActivity" />
        <activity android:name=".samples.chat.PictureShareActivity" />
        <activity android:name=".samples.chat.PictureViewActivity" />
        <activity android:name=".samples.sensor.SensorActivity" />
        <activity android:name=".samples.basic.MainActivity" />
        <activity android:name=".test.BasicTests"/>
        <activity android:name=".samples.location.LocationActivity"/>
        <activity android:name=".samples.location.LocationActivityXmpp"/>


        <service android:name=".base.SigmaServiceA" android:process=".SigmaServiceA"/>
        <service android:name=".base.SigmaServiceB" android:process=".SigmaServiceB"/>

        <service android:name=".samples.pingpong.PingPongServer" android:process=".PingPongServer">
            <intent-filter>
                <action android:name="edu.ucla.nesl.sigma.samples.pingpong.PingPongServer"/>
            </intent-filter>
        </service>

        <service android:name=".samples.chat.PictureChatService" android:process=".PictureChatService">
            <intent-filter>
                <action android:name="edu.ucla.nesl.sigma.samples.chat.PictureChatService"/>
            </intent-filter>
        </service>

        <receiver android:name=".samples.location.NativeLocationPoster"/>
        <receiver android:name=".samples.location.RemoteLocationPoster"/>

    </application>
</manifest>
